@{
  Layout = "_Layout";
}

<h2>Details of @Model["course"].GetName()</h2>

<ul>
<li>Course Id: @Model["course"].GetId()</li>
<li>Course Number: @Model["course"].GetCourseNumber()</li>
</ul>

<h2>List of students currently in this course</h2>
@foreach(var student in Model["students"])
{
  <li>@student.GetName()</li>
}

<form action="/courses/@Model["course"].GetId()" method="post">
     <select name="studentId" >
        @foreach(var student in @Model["allStudents"])
        {
          <option class="dropdown-item"value=@student.GetId()>@student.GetName()</option>
        }
      </select>
     <button class="btn btn-primary btn-lg" type="submit">Add</button>
</form>

<h3><a href="/courses">Back to course list</a></h3>
<h3><a href="/">Back to Home page</a></h3>